.produtoXYZ__figure{
    display: grid;
    grid-template-columns: repeat(2 , 50%);
    grid-template-rows: auto;
    align-items: center;
    column-gap: 1rem;
    padding-top: 64px;
}
.produtoXYZ__img{
    width: 100%;
}
.produtoXYZ__figcaption{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    row-gap: 0.5rem;
}
.produtoXYZ__titulo{
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    color: #464646;

}
.produtoXYZ__preco{
   
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #464646;
}
.produtoXYZ__descricao{
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #464646;
}

.similares.container{
    padding: 64px 10.55%;
}
main{
    background-color: #E5E5E5;

}
