@import url(reset.css);
@import url(cabecalho.css);
@import url(promocional.css);
@import url(produtos.css);
@import url(principal.css);
@import url(rodape.css);

body{
    font-family: Raleway, sans-serif;
}
.container{
    padding: 0 10.55%;
   
}

.botaoPrimario{
    background: #2A7AE4;
    height: 51px;
    border-radius: 0px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}
.botaoPrimario:hover{
    background: #5595E9;
}
.botaoSecundario{
    height: 51px;
    border-radius: 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
}
.botaoSecundario:hover{
    background: #D4E4FA;
    
}

@media screen and (max-width: 767px){
    .botaoPrimario{
        height: 40px;
        padding: 12px, 16px, 12px, 16px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
    }
    .botaoSecundario{
       
        height: 40px;
        padding: 12px, 16px, 12px, 16px;

        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
          
    }
    .container{
        padding: 1rem;
        
    }
}
@media screen and (min-width: 768px) and (max-width:1023px)  {
    .container{
        padding: 2rem;
    }
    .botaoPrimario{
        height: 40px;
        padding: 12px, 16px, 12px, 16px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
    }
    .botaoSecundario{
       
        height: 40px;
        padding: 12px, 16px, 12px, 16px;

        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
          
    }
}
