.promocional{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%),url(../img/Banner.jpg);
    background-position: center , center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    height: 12rem;
    width: 100%;
   
}
.promocional__textos{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    gap: .5rem;
}
.promocional__titulo{
    
    font-size: var(--tamanho-titulo-banner-mobile);
    font-weight: var(--peso-destaque);
    line-height: var(--altura-linha-03);
    color: var(--branco);

}
.promocional__paragrafo{

    font-size: var(--tamanho-menor);
    font-weight: var(--peso-destaque);
    line-height: var(--altura-linha-01);
    color:var(--branco);
   
}
.promocional__botao{
    width: 130px;
} 
@media screen and (min-width:763px) {
    .promocional{
        height: 22rem;
    }
    .promocional__textos{
        gap: 1rem;
    }
    .promocional__titulo{
        font-size: var(--tamanho-titulo-banner);
        line-height: var(--altura-linha-05);
    }
    .promocional__paragrafo{
        font-size: 22px;
        line-height: var(--altura-linha-03);
    }
}