.promocional{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%),url(../img/Banner.jpg);
    background-position: center , center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    height: 22rem;
    width: 100%;
   
}
.promocional__textos{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
.promocional__titulo{
    
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    
    margin-bottom: 1rem;

}
.promocional__paragrafo{

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
   
    margin-bottom: 1rem;
}
.promocional__botao{
    text-align: center;
 
    width: 130px;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
@media screen and (max-width: 767px) {
    .promocional{
        height: 12rem;
    }
    .promocional__titulo{
        font-size: 22px;
        font-style: normal;
        line-height: 25.83px;
        margin-bottom: 0.5rem;
    }
    .promocional__paragrafo{
        font-size: 22px;
        line-height: 25.83px;
        margin-bottom: 1rem;
    }
    .promocional__botao{
        width: 119px;
        margin-bottom: 0rem;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px){
    
    .promocional__titulo{
        font-size: 52px;
        font-style: normal;
        line-height: 61.05px;
        margin-bottom: 1rem;
    }
    .promocional__paragrafo{
        font-size: 22px;
        line-height: 25.83px;
        margin-bottom: 1rem;
    }
    .promocional__botao{
        margin-bottom: 0;
    }
    
}