.todos.container{
    background: #E5E5E5;
    padding: 64px 10.55%;
}
.todos__botao{
    width: 194px;
    justify-self: end;
}
.todos__botao--link{
    font:inherit;
    text-decoration: none;
    color: inherit;
}
.todos__botoes-edicao{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 11px;
}
.todos__excluir{
    border: none;
    background: none;
    outline: none; 
}
.todos__excluir i::before{
    content: url(../img/lixeira.svg);
    height: 18px;
    width: 18px;
    padding-right:12px ;
    
}
.todos__editar{
    border: none;
    background: none;
    outline: none;
}
.todos__editar i::before{
    content: url(../img/editar.svg);
    height: 18px;
    width: 18px;
    
}

.produtos{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 1rem;
    align-items: center;

}
.produtos__cartao{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap:0.5rem ;
}
.lista-produtos{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    row-gap: 4rem;
}
.produtos__img{
   
    width: 100%;
    height: 174px;
    background-image: url(../img/starwars/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.titulosecundario{
    
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;

}

.produtos__nome{
    font-size: 14px;
    line-height: 16.44px;
    font-weight: 500;
}
.produtos__preco{
    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #464646;


}
.produtos__link{
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color:  #2A7AE4;
   
}


@media screen and (max-width: 767px) {
    .todos.container{
        padding: 2rem;
        
    }
    .produtos{
        grid-template-columns: repeat(2, 1fr);
    }
    .lista-produtos{
        grid-template-columns: repeat(2, auto);
        grid-row-gap: 1rem;
    }
    .produtos__img{
   
        width: 100%;
        height: 174px;
    }
    .titulosecundario{
        font-size: 22px;
        line-height: 25.83px;
        grid-column: 1 / 3;
    }
    .todos__botao{
        width: 151px;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-self: start;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px){
    .todos.container{
        padding: 2rem;
    }
    .lista-produtos{
        grid-template-columns: repeat(4, auto);
        grid-row-gap: 1rem;
    }
    .produtos__img{
            
        width: 100%;
        height: 174px;
    }
    .todos__botao{
        width: 151px;
        justify-self: end;
    }
}

    

   
