.galeria{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;

}
.galeria__lista{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    gap: 1rem;
}
.galeria__titulo{
    font-size: var(--tamanho-titulo-section-mobile);
    font-weight: var(--peso-destaque);
    line-height: var(--altura-linha-03);
}
.galeria__link{
    text-decoration: none;
    font-size: var(--tamanho-menor);
    font-weight: var(--peso-destaque);
    line-height: var(--altura-linha-01);
    color: var(--azul);
    display: flex;
    gap: 12px;
    align-items: center;
    justify-self: end;

}
.galeria__link::after{
    content: url(../../img/seta_vertudo.svg);
    
}
@media screen and (min-width:767px) {
    .galeria__lista{
        grid-template-columns: repeat(4,auto);
    }
    .galeria__link{
        font-size: var(--tamanho-padrao);
    }
}
@media screen and (min-width:1024px) {
    .galeria__lista{
        grid-template-columns: repeat(6,auto);
        
    }
    .galeria__titulo{
        font-size: var(--tamanho-titulo-section);
    }


}
